html
{
	font-family: "Open Sans";
	background-color: #C7D4D8;
	color: #325177;
}

#navitem
{
	color: white;
}

h1
{
	font-family: "Tiempo";
}

h3, h2
{
	font-family: "Open Sans"
}

#top
{
	text-align: center;
}

#allonslack
{
	opacity: 0.7;
}

.waves-effect.waves-light.btn-flat
{
	color: white;
	background-color: #62D2C2;
	border-radius: 7px;
}

#email
{
	font-size: 20px;
	border: none;
	padding: 5px 15px 5px 15px;
	border-radius: 7px;
	color: #485A63;
	background-color: white;

}

#submit
{
	background-color: #CF7275;
	border: none;
	padding: 15px;
	border-radius: 7px;
	color: white;
	margin-left: 25px;
}

form
{
	margin-top: 40px;
}

#screenshot
{
	background-color: white;
}

#howitworks
{
	background-color:white;
	color: white;
	padding: 0px;
}

#slackbubble
{
	margin-top: 25px;
}

a 
{
	text-decoration-line: none;
	color: white;
	display: block;
	text-align: left;
}

.contactInfo 
{
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	text-align: left;
}


